@media (min-width: 400px){
    body{
        background-position-y: top;
        
    }

    .attribution{
        font-size: 12px;

    }
    
}

@media (min-width: 650px){
    body{
        background-position: center;
        
    }

    .attribution{
        font-size: 16px;

    }
}



@media (min-width: 1110px){
    body{
        
        background: url("/images/bg-desktop.svg") hsl(229, 57%, 11%) no-repeat;
        background-position-y: bottom;
        background-size: 100% 50%;
    }

    .elementos{
        margin-top: 78px;
        grid-template-columns: 300px auto;
    }

    .storage{
        width: 460px;
        height: 130px;
        margin-top: 56px;
        margin-left: 25px;      
       
        align-items: flex-start; 
        padding-left: 30px;
    }   

    .resta {             
        top: -13em;
        left: 44em;
    }

    .resta::after{
        content: "";
        width: 0;
        height: 0;
        
        position: absolute;

        border-left: 20px solid transparent;
        border-right: 0px solid transparent;
        border-top: 30px solid #fff;

        bottom: -22px;
        left: 125px;
    }
    
}

